.menu{
    width: 100%;
    background-color: #fff;
    color: #FC7E2A!important;
    font-size:17px;
}
.menuItem {
    width: 50%;
    text-align: center;
    color: #FC7E2A!important;
	padding:0px 10px;
	text-align:center;
	box-sizing:border-box;
	border-bottom:none!important;
}
.menuItem:hover{
	color: #FC7E2A;
	border-bottom:2px solid #FC7E2A!important;
}
.menuItem a:hover{
	 color: #FC7E2A; 
	border-bottom:2px solid #FC7E2A;
}