.comment{
    background:#fdbf8c;
    // position:fixed;
    // bottom:0px;
    height:60px;
    line-height:60px;
    margin-top: 100%;
}
.item{
    border:none;
    margin-right:5px;
    display:inline-block;
    width:70%;
    margin-left:37px;
    margin-right:13px;
    background:#fdbf8c;
    border-bottom:0.5px solid #fff;
}
.item::-webkit-input-placeholder{
    font-size: 12px;
    color:#fff;
}

.button{
    border: 0px;
    text-align: center;
    margin-top: 10px;
}

.icon{
    font-size:26px;
    color:#fe7e14;

}