.customImage{
	position:relative;
	overflow: hidden;
}
.customImage img {
  display: block;
  /*border-radius: 5px;*/
  width: 100%;
  height: 170px;
}
.keyword { 
	position: absolute;
	top: 7px;

}
.keyword p{
	margin-bottom: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 11px;
	padding-right: 9px;
	border-radius: 0px 5px 5px 0px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3); 
}
.firstPublish{
	position: absolute;
	right: 7px;
	top: 7px;
	color: #ff4411;
	border-radius: 0px 5px 5px 0px;
}

.features{
	position: absolute;
	right: 0px;
	bottom: 15px;
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,.3);
	display: flex;
	align-items:center;
}
.features img{
	margin:0px 15px;
	height:17px;
	width:17px;
}

.recruit{
	height:25px;
	line-height:25px;
	font-size:10px;
	// background:#999999;
	background-color: rgba(0,0,0,0.2);
	color:#fff;
	border-radius:15px;
	padding-left:12px;
	padding-right:12px;
	float:left;
	position: absolute;
	left: 8px;
	bottom: 12px;
}
